.form-auth {
    background-color: black;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 40px;
    /* height: 600px; */
}

.form-body {
    text-align: left;
    padding: 20px 10px;
}

.text-input {
    margin: 8px auto;
}