.menu-top{
    padding: 0.1rem 1rem;
    margin: 0;
    background: linear-gradient(180deg,#0c0c0c 20%,rgba(12,12,12,.8) 65%,rgba(12,12,12,0));
}

.main-menu {
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand  {
    width: 200px;
    display: inline-block;

    img {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 992px){
    .navbar-brand{
        width: 95px;
    }
}


.main-menu .nav-dropdown-item{
    margin-right: 5px;
    margin-left:5px;
    font-size: 16px;
}

.main-menu .nav-dropdown-item:hover {
    background-color: #FEbb00;
    border-radius: 3px;
    color: #000;
    z-index: 4;
}

.main-menu .nav-dropdown-item:hover {
    background-color: #FEbb00;
    border-radius: 3px;
    color: #000;
    z-index: 4;

    & .dropdown-menu {
      display: block;  
    }
}

.main-menu .dropdown-menu {
    margin-top: -1px;
    min-width: 600px;
}

.dropdown-menu {
    top: 37px;
    left: -10%;
    background-color: #0c0c0c;
    border-radius: 5px;
    padding: 15px 0;
    box-shadow: 0 4px 15px rgb(0 0 0 / 50%);
}


.main-menu .dropdown-menu .dropdown-item {
    width: 32.5%;
    display: inline-block;
    font-size: 1rem;
    color: #fff;

    &:hover{
        color: #ffbe00;
        background-color: transparent;
    }

    &:focus {
        color: #ffbe00;
        background-color: transparent;
    }
    
}

#account-dropdow {
    min-width: 40px;
    align-items: center;
    text-align: center;
}

.search-input {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px  #bbbbbb; 
    color: white;
    border-radius: 0;   
    margin: 0;
    padding: 0;

    &:focus {
        background-color: transparent;
        border: none;
        border-bottom: solid 2px #bbbbbb; 
        border-radius: 0; 
        box-shadow: unset;
        color: rgb(255, 255, 255);
    }
}
.form-search{
    margin-right: 30px;
}
.search-submit{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px  #bbbbbb; 
    border-radius: 0;   
    margin: 0;
    
    color: #febb00;


    &:focus {
        background-color: transparent;
        border: none;
        border-bottom: solid 2px #bbbbbb; 
        border-radius: 0; 
        box-shadow: unset;
        color: rgb(255, 255, 255);
    }

    &:hover {
        background-color: transparent;
        border: none;
        border-bottom: solid 2px #bbbbbb; 
        border-radius: 0; 
        box-shadow: unset;
        color: #febb00
    }
}


.user-avatar-nav {
    width: 40px;
    height: 40px;
    font-size: 32px;
    color: #febb00 ;
    padding: 0;
    

    img {
        width: 100%;
        display: block;
        border-radius: 50%;
    }
}