$body-bg: #0C0C0C;
$main-color: #FFBB00;
$text-color: #91C3E5;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 2rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: Be Vietnam,sans-serif;
